
<ul>
  <li>
    <a href="<%=themtheloai_path%>"  class="btn btn-default">cập nhật thêm thể loại<a>
    </li>
    <li>
      <a href="<%=edit_path%>"  class="btn btn-default">Chỉnh Sửa Truyện<a>
      </li>
      <li>
        <a href="<%=uptruyen_path%>"  class="btn btn-default">up thêm truyện<a>
        </li>
        <li>
          <a href="<%=signup_path%>"  class="btn btn-default">dang ky<a>
          </li>
          <li>
            <a href="<%=login_path%>"  class="btn btn-default">dang nhap<a>
            </li>
            <li>
              <a href="<%=home_path%>"  class="btn btn-default">về trang chủ<a>
              </li>
            </ul>
